default_language_version:
  python: python3.13
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.12.10
  hooks:
    # Run the linter.
  - id: ruff
    args: [--fix]
    files: ^((custom_components)/.+)?[^/]+\.(py|pyi)$
    # Run the formatter.
  - id: ruff-format
    files: ^((custom_components)/.+)?[^/]+\.(py|pyi)$
- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
  - id: codespell
    args:
    - --ignore-words-list=additionals,alot,ba,bre,bund,datas,dof,dur,ether,farenheit,falsy,fo,haa,hass,hist,iam,iff,iif,incomfort,ines,ist,lightsensor,mut,nam,nd,pres,pullrequests,referer,resset,rime,ser,serie,sur,te,technik,ue,uint,unsecure,visability,wan,wanna,withing,zar
    - --skip="./.*,*.csv,*.json"
    - --quiet-level=2
    exclude_types: [csv, json]
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-json
    exclude: .devcontainer/devcontainer.json
  - id: pretty-format-json
    args:
    - --autofix
    - --no-sort-keys
    - --no-ensure-ascii
    exclude: .devcontainer/devcontainer.json
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.15.0
  hooks:
  - id: pretty-format-yaml
    args: [--autofix, --indent, '2']
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.17.1
  hooks:
  - id: mypy
    additional_dependencies:
    - aiohttp
    - homeassistant-stubs
    - types-awscrt
    - voluptuous-stubs
    - dacite
    - pytest
    - bidict
    - bleak_retry_connector
