name: Validate with hassfest

on:
  push:
    branches: [main]
  pull_request:
  schedule:
  - cron: 0 0 * * *

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: home-assistant/actions/hassfest@master
